<h1>Add a band!</h1>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <label for="newTitle">Band Name</label>
          <input #newTitle type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea #newDescription class="materialize-textarea"></textarea>
          <label for="newDescription">Band Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input #newMembers type="text" class="validate">
          <label for="newMembers">Members</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input #newGuitar type="text" class="validate">
          <label for="newGuitar">Who Plays Guitar?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input #newBass type="text" class="validate">
          <label for="newBass">Who Plays Bass?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input #newDrums type="text" class="validate">
          <label for="newDrums">Who Plays Drums?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input #newGuitarTwo type="text" class="validate">
          <label for="newGuitarTwo">Who else plays guitar?</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="submitForm(newTitle.value, newDescription.value, newMembers.value, newGuitar.value, newBass.value, newDrums.value, newGuitarTwo.value); newTitle.value=''; newDescription.value=''; newMembers.value=''; newGuitar.value=''; newBass.value=''; newDrums.value=''; newGuitarTwo.value=''">Submit
  </button>
    </form>
  </div>
